<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_PASSWORD</key>
	<string></string>
	<key>API_USERNAME</key>
	<string></string>
	<!-- <key>CACHE_DIR</key>
	<string></string> -->
	<key>JSS_REPOS</key>
	<array>
		<dict>
			<key>type</key>
			<string>CDP</string>
		</dict>
		<!-- <dict>
			<key>name</key>
			<string></string>
			<key>password</key>
			<string></string>
		</dict> -->
	</array>
	<key>JSS_URL</key>
	<string></string>
	<key>JSS_VERIFY_SSL</key>
	<true/>
	<key>OFFLINEAPPS_INTERNAL_PATH</key>
	<string></string>
	<key>OFFLINEAPPS_SMB_DOMAIN</key>
	<string></string>
	<key>OFFLINEAPPS_SMB_PASSWORD</key>
	<string></string>
	<key>OFFLINEAPPS_SMB_SHARE_NAME</key>
	<string></string>
	<key>OFFLINEAPPS_SMB_URL</key>
	<string></string>
	<key>OFFLINEAPPS_SMB_USERNAME</key>
	<string></string>
	<key>PKGBOT_PORT</key>
	<string>443</string>
	<key>PKGBOT_URL</key>
	<string>https://pkgbot.my.server.org</string>
	<!-- <key>RECIPE_OVERRIDE_DIRS</key>
	<string></string> -->
	<key>RECIPE_REPOS</key>
	<dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aanklewicz-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/aanklewicz-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/apettinen-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.arubdesu-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/arubdesu-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.asemak-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/asemak-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aysiu-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/aysiu-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bkerns-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/bkerns-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.cgerke-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/cgerke-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/dataJAR-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.denmoff-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/denmoff-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.foigus-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/foigus-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.gerardkok-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/gerardkok-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.grahampugh-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/grahampugh-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/hansen-m-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/hjuutilainen-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/homebysix-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jaharmi-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jaharmi-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jazzace-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jazzace-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jleggat-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.joshua-d-miller-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/joshua-d-miller-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jps3-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jps3-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jss-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/jss-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.justinrummel-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/justinrummel-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.keeleysam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/keeleysam-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/killahquam-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.mlbz521-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/mlbz521-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.moofit-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/moofit-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.n8felton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/n8felton-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.neilmartin83-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/neilmartin83-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.nmcspadden-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/nmcspadden-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.novaksam-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/novaksam-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.nstrauss-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/nstrauss-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.peetinc-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/peetinc-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.robperc-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/robperc-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/rtrouton-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rustymyers-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/rustymyers-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/scriptingosx-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sebtomasi-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/sebtomasi-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sheagcraig-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/sheagcraig-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.smithjw-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/smithjw-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tallfunnyjew-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/tallfunnyjew-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tbridge-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/tbridge-recipes</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.timsutton-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/timsutton-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.wardsparadox-recipes</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/autopkg/wardsparadox-recipes.git</string>
		</dict>
		<key>~/Library/AutoPkg/RecipeRepos/com.github.facebook.Recipes-for-AutoPkg</key>
		<dict>
			<key>URL</key>
			<string>https://github.com/facebook/Recipes-for-AutoPkg.git</string>
		</dict>
	</dict>
	<!-- <key>RECIPE_REPO_DIR</key>
	<string></string> -->
	<key>RECIPE_SEARCH_DIRS</key>
	<array>
		<string>.</string>
		<string>~/Library/AutoPkg/Recipes</string>
		<string>/Library/AutoPkg/Recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.arubdesu-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.bkerns-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.cgerke-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jaharmi-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.joshua-d-miller-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jps3-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jss-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.justinrummel-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.keeleysam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.mlbz521-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.moofit-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.n8felton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.nmcspadden-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.novaksam-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.nstrauss-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.robperc-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sebtomasi-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.sheagcraig-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tallfunnyjew-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.timsutton-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.wardsparadox-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.facebook.Recipes-for-AutoPkg</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.foigus-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aysiu-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.asemak-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.aanklewicz-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.neilmartin83-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.jazzace-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.gerardkok-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.denmoff-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.tbridge-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.peetinc-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.rustymyers-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.grahampugh-recipes</string>
		<string>~/Library/AutoPkg/RecipeRepos/com.github.autopkg.smithjw-recipes</string>
	</array>
	<key>promote</key>
	<true/>
	<key>skip_scope</key>
	<true/>
</dict>
</plist>
