{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    {% if session["protected_page"] %}

        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Access Denied:</strong>  You must login before accessing this page!
        </div>

    {% endif %}

<h2>PkgBot:  Systems Online</h3>

<p>PkgBot will record software version history for Jamf Pro.</p>

<p>PkgBot is a framework to manage the lifecycle of software packaging, testing, and then promotion from development to production environments.  It utilizes the open source project <a href="https://www.github.com/autopkg">AutoPkg</a> to download and package software and a Slack Bot is utilized to send notifications and receive commands.</p>

<p>Within this site, you will find software version history including it's current status, as well as details on the available AutoPkg recipes.</p>

<p>This site will provide greater visibility into third party software updates.</p>

{% endblock %}