{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if session["protected_page"] %}

        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Access Denied:</strong>  
                {% if session["access_denied"] %}
                    {{ session["access_denied"] }}
                {% else %}
                    You must login before accessing this page!
                {% endif %}
        </div>

    {% endif %}

<h2>PkgBot Status: &ThickSpace;[Systems Online]</h3>

<p>PkgBot will record software version history for Jamf Pro.</p>

<p>PkgBot is an automation framework for the open source project <a href="https://www.github.com/autopkg/autopkg">AutoPkg</a> that provides a web-based front end and a Slack Bot to send notifications and receive commands.  It helps manage the lifecycle of software packaging through package and version validation and then provides an interactive method to "promote" a specific package version from "development" (or "test") to production environments.</p>

<p>PkgBot provides this workflow utilizing Jamf Pro and the <a href="https://github.com/grahampugh/jamf-upload">JamfUploader</a> line of Processors.  A Slack Bot is used to send new build notifications and allows a <code>PkgBot Admin</code> to interact with those notifications.</p>

<p>This site provides visibility into third party software version history including each packages' current status, plus details on the available AutoPkg recipes.</p>

{% endblock %}