{% extends 'base.html' %}
{% block title %}Package History{% endblock title %}
{% block content %}
{% include "table_css.html" %}
{% include "table_js.html" %}

		<table class="dataTable pkgbot-table" id="packages">

			<thead>
				<tr>
					{% for header in table_headers %}
					<th{% if header == "ID" %} class="primary-column" {% elif header == "" %} class="sorting-disabled" {% endif %}>
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
			{% for pkg in packages %}
				<tr>
					<td>{% set package_icon = pkg["icon"] or ["package.png", "metapackage.png"] | random %}
						<img src="{{ url_for('static', path='/icons/%s' % package_icon) }}"/>
					</td>
					<td>
						<a href="{% if pkg.id %} {{ url_for(name='package', id=pkg.id) }} {% endif %}">
							<span class="pkgbot-table-id">{{ pkg.id }}</span>
						</a>
					</td>
					<td>{{ pkg.name }}</td>
					<td>{{ pkg.version }}</td>
					<td>{{ pkg.status }}</td>
					<td>{{ pkg.updated_by }}</td>
					<td class="pkgbot-table-td-nowrap">{{ pkg.packaged_date | strftime }}</td>
					<td class="pkgbot-table-td-nowrap">{{ pkg.promoted_date | strftime if pkg.promoted_date else "" }}</td>
					<td>{% if pkg.holds %}{% set hold = pkg.holds | find_max(key="time_stamp") %}
						{% if hold["enabled"] == True %}{{ pkg.holds | length }}{% endif %}{% endif %}
					</td>
					<!-- <td>{% if pkg.policies %}{{ pkg.policies | length }}{% endif %}</td> -->
					<td>{% if pkg.notes %} {{ pkg.notes[0].note if pkg.notes[0] }} {% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>

{% endblock content %}