{% extends 'base.html' %}
{% block title %}Package History{% endblock %}
{% block content %}
{% include "table_css.html" %}

		<table class="dataTable pkgbot-table" id="packages">

			<thead>
				<tr>
					{% for header in table_headers %}
					<th class={% if header == "ID" %} "primary-column" {% elif header == "" %} "sorting-disabled" {% endif %}>
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
			{% for pkg in packages %}
				<tr>
				{% if pkg["icon"] %}
					<td>
						<img src="{{ url_for('static', path='/icons/%s' % pkg.icon) }}"/>
					</td>
				{% else %}
					<td>
						<img src="{{ url_for('static', path='/icons/%s.png' % ['package', 'metapackage']|random) }}"/>
					</td>
				{% endif %}
					<td>
						<a href="{{ url_for(name='package', id=pkg.id) }}">
							<span class="pkgbot-table-id">{{ pkg.id }}</span>
						</a>
					</td>
					<td>{{ pkg.name }}</td>
					<td>{{ pkg.version }}</td>
					<td>{{ pkg.status }}</td>
					<td>{{ pkg.updated_by }}</td>
					<td class="pkgbot-table-td-nowrap">{{ pkg.packaged_date | strftime }}</td>
					<td class="pkgbot-table-td-nowrap">{{ pkg.promoted_date | strftime if pkg.promoted_date else "" }}</td>
					<td>{{ pkg.notes[0].note if pkg.notes[0] }}</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>

		<script type="text/javascript">
			$(document).ready(
				function() {
					$('#packages').DataTable(
						{"order": [[ $('.primary-column').index(), "desc" ]],
						"search": {
							"regex": true
						},
						"columnDefs": [
							{
								"targets": $('.sorting-disabled').index(),
								"orderable": false
							} 
						]
					}
					);
				}
			);
		</script>

{% include "table_js.html" %}
{% endblock content %}