{% extends 'base.html' %}

{% block content %}

{% if pkgbot.get("action_result") %}
<div class="alert alert-success alert-dismissible">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Successfully</strong> {{ pkgbot.get("action_result") }}
</div>
{% endif %}

<h1><img src="{{ url_for('static', path='/icons/%s' % package['icon']) }}" width="100" height="100" />
	<code>{% block title %}{{ package['name'] }} v{{ package['version'] }}{% endblock %}</code></h1>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<p>
	<form method="post" action="/package/{{ package['id'] }}">
		<div class="form-group">

			<div>
				<label class="form-label" for="pkg_name">Pkg Name: &nbsp;</label>
				<input class="w-25" id="pkg_name" name="pkg_name" maxlength="500"
					value="{{ request.form['pkg_name'] or package['pkg_name'] }}" {{ "disabled" if not
					user.get("full_admin") }} required />
			</div>

			<div>
				<label class="form-label" for="packaged_date">Packaged Date: &nbsp;</label>
				<input class="w-25" id="packaged_date" name="packaged_date" maxlength="500"
					value="{{ request.form['packaged_date'] or package['packaged_date'] }}" {{ "disabled" if not
					user.get("full_admin") }} required />
			</div>

			<div>
				<label class="form-label" for="promoted_date">Promoted Date: &nbsp;</label>
				<input class="w-25" id="promoted_date" name="promoted_date" maxlength="500"
					value="{{ request.form['promoted_date'] if request.form['promoted_date'] or package['promoted_date'] if package['promoted_date'] }}" {{ "disabled" if not
					user.get("full_admin") }} />
			</div>

			<div>
				<label class="form-label" for="last_update">Last Updated: &nbsp;</label>
				<input class="w-25" id="last_update" name="last_update" maxlength="500"
					value="{{ request.form['last_update'] or package['last_update'] }}" {{ "disabled" if not
					user.get("full_admin") }} required />
			</div>

			<div>
				<label class="form-label" for="updated_by">Last Updated By: &nbsp;</label>
				<input class="w-25" id="updated_by" name="updated_by" maxlength="500"
					value="{{ request.form['updated_by'] or package['updated_by'] }}" {{ "disabled" }} />
			</div>

			<label class="d-inline-block" for="pkg_status">Status:</label>
			<select class="form-control form-control-sm w-25 d-inline-block" name="pkg_status" id="pkg_status"
			{{ "disabled" if not user.get("full_admin") }} >
				<option {{ "selected" if package["status"] == "dev" }}>dev</option>
				<option {{ "selected" if package["status"] == "prod" }}>prod</option>
				<option {{ "selected" if package["status"] == "retired" }}>retired</option>
			</select>

			<div class="form-group">
				<label class="form-label" for="note">Package Notes</label>
				<textarea id="note" name="note" maxlength="4000" class="form-control"
					placeholder="Package notes."></textarea>
				<span id="counter" class="pull-left form-text text-muted" style="margin-left: 5px; font-size: 12px;"></span>
			</div>

			Package is used in:
			<span id="help_block" class="form-text text-muted"
			style="margin-left: 15px; margin-bottom: 5px; font-size: 12px;">Enabling for a Site allows you to prevent automatic deletion of the .pkg</span>
			{% for site in user.get("site_access") | sort(attribute = sort_on, reverse = True) %}
				<div class="custom-switch form-check-inline">
					<input type="checkbox" class="custom-control-input" id="site_tag__{{ site }}"
					name="site_tag" value="{{ site }}" {{ "checked" if site in pkg_holds["pkg_holds"] }} />
					<label class="custom-control-label" for="site_tag__{{ site }}">{{ site }}</label>
				</div>
			{% endfor %}

			<p>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</p>

		</div>

		<script>

			function count_characters() {
	
				this.addEventListener("input", count_characters)
	
				var max_length = $(this).attr("maxlength");
				var current_length = $(this).val().length;
				var characters_remaining = max_length - current_length;
				var counter = $(this).next(".form-text");
	
				counter.text(current_length + "/" + max_length);
	
				// Change text color to red when there are 0 characters remaining
				if (characters_remaining === 0) {
					counter.removeClass("text-muted");
					counter.addClass("text-danger");
				}
				else {
					counter.removeClass("text-danger");
					counter.addClass("text-muted");
				}
	
			}
	
			$(document).ready(function () {
				$(".form-control").each(count_characters);
			});
	
		</script>

	</form>
</p>

<div class="accordion" id="accordion_toggle">

	<div class="card">
		<div class="card-header" id="Results_Card">
			<h2 class="mb-0">
			<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
				data-target="#results_card_one" aria-expanded="true"
				aria-controls="results_card_one">Sites that have flagged pkg
			</button>
			</h2>
		</div>

		<div id="results_card_one" class="collapse"
			aria-labelledby="Results" data-parent="#accordion_toggle">
			<div class="card-body">
				<table id="SiteFlags">
					<!-- class="table" -->
					<thead>
						<tr>
							{% for header in pkg_holds_table_headers %}
							<th>{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for pkg_hold in pkg_holds %}
						<tr>
							<td>{{ pkg_hold["site"] }}</td>
							<td>{{ pkg_hold["enabled"] }}</td>
							<td>{{ pkg_hold["time_stamp"] }}</td>
							<td>{{ pkg_hold["submitted_by"] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<script type="text/javascript">
					$(document).ready(
						function() {
							$('#SiteFlags').DataTable(
								{"order": [[ 2, "desc" ]]}
							);
						}
					);
				</script>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="Notes_Card">
			<h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button"
					data-toggle="collapse" data-target="#notes_card_one" aria-expanded="true"
					aria-controls="notes_card_one">Note History
				</button>
			</h2>
		</div>

		<div id="notes_card_one" class="collapse" aria-labelledby="Notes" data-parent="#accordion_toggle">
			<div class="card-body">
				<table id="Notes">
					<!-- class="table" -->
					<thead>
						<tr>
							{% for header in notes_table_headers %}
							<th>{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for note in notes %}
						<tr>
							<td>{{ note["note"] }}</td>
							<td>{{ note["submitted_by"] }}</td>
							<td>{{ note["time_stamp"] }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

				<script type="text/javascript">
					$(document).ready(
						function() {
							$('#Notes').DataTable(
								{"order": [[ 2, "desc" ]]}
							);
						}
					);
				</script>
			</div>
		</div>
	</div>

</div>

<hr>
{% endblock %}