{% extends "base.html" %}
{% block content %}

		<h1><code>{% block title %}Create new Recipe{% endblock %}</code></h1>

		<form method="post" action="/create/recipe">

			<div class="form-group">

				<div>
					<label class="form-label" for="recipe_id">Recipe ID: &nbsp;</label>
					<input class="w-25" id="recipe_id" name="recipe_id" maxlength="500"
						placeholder="Recipe ID" required {{ "disabled" if not
						user.get("site_access") }} />
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="enabled" name="enabled"
						{{ "disabled" if not user.get("site_access") }} />
					<label class="custom-control-label" for="enabled">Enabled</label>
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="pkg_only"
						name="pkg_only" {{ "disabled" if not user.get("site_access") }} />
					<label class="custom-control-label" for="pkg_only">Package Only</label>
					<span id="help_block" class="form-text text-muted sub-help-text">
						Only .pkg is uploaded to production</span>
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="manual_only"
						name="manual_only" {{ "disabled" if not user.get("site_access") }} />
					<label class="custom-control-label" for="manual_only">Manual Only</label>
					<span id="help_block" class="form-text text-muted sub-help-text">
						Recipe is only available to run manually</span>
				</div>

				<div>
					<label class="form-label" for="schedule">Schedule (days: int): &nbsp;</label>
					<input class="input-sm" id="schedule" name="schedule" placeholder="schedule"
						type="number" step="1" min="0" max="90" value="0" />
				</div>

				<div>
					<label class="form-label" for="note">Notes</label>
					<textarea class="form-control count-text" id="note" name="note"
						maxlength="4000" placeholder="Recipe notes."></textarea>
					<span id="counter" class="pull-left form-text text-muted counter"></span>
				</div>

				<br />

				<div>
					<button type="submit" class="btn btn-main">Save</button>
				</div>

			</div>

		</form>

{% endblock content %}