{% extends 'base.html' %}
{% block title %}List of Recipes{% endblock title %}
{% block content %}
{% include "table_css.html" %}
{% include "table_js.html" %}

		<table class="dataTable pkgbot-table" id="recipes">

			<thead>
				<tr>
					{% for header in table_headers %}
					<th{% if header == "ID" %} class="primary-column" {% endif %}>
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for recipe in recipes %}
				<tr>
					<td>
						<a href="{% if recipe.id %} {{ url_for(name='recipe', id=recipe.id) }} {% endif %}"></a>
							<span class="pkgbot-table-id">{{ recipe.id }}</span>
						</a>
					</td>
					<td>{{ recipe.recipe_id }}</td>
					<td>{{ recipe.enabled }}</td>
					<td>{{ recipe.manual_only }}</td>
					<td>{{ recipe.pkg_only }}</td>
					<td class="pkgbot-table-td-nowrap">{{ recipe.last_ran | strftime }}</td>
					<td>{{ recipe.schedule }}</td>
					<td>{{ recipe.notes[-1].note if recipe.notes[-1] }}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>

{% endblock content %}