{% extends "base.html" %}
{% block content %}
{% include "table_css.html" %}

		<h1><code class="black-text">{% block title %}{{ recipe['recipe_id'] }}{% endblock %}</code></h1>

		<form action="/recipe/{{ recipe['id'] }}" method="post">

			<div class="form-group">

				<div>
					<label class="form-label" for="recipe_id">Recipe ID: &nbsp;</label>
					<input class="w-25" id="recipe_id" name="recipe_id" maxlength="500"
						value="{{ recipe['recipe_id'] }}" required {{ "disabled" if not
						user.get("full_admin") }} />
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="enabled" name="enabled"
					{{ "checked" if recipe["enabled"] }} {{ "disabled" if not user.get("full_admin") }} />
					<label class="custom-control-label" for="enabled">Enabled</label>
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="pkg_only"
						name="pkg_only" {{ "checked" if recipe["pkg_only"] }}
						{{ "disabled" if not user.get("full_admin") }} />
					<label class="custom-control-label" for="pkg_only">Package Only</label>
					<span class="form-text text-muted sub-help-text" id="help_block">
						Only .pkg is uploaded to production
					</span>
				</div>

				<div class="custom-switch">
					<input type="checkbox" class="custom-control-input" id="manual_only"
						name="manual_only" {{ "checked" if recipe["manual_only"] }}
						{{ "disabled" if not user.get("full_admin") }} />
					<label class="custom-control-label" for="manual_only">Manual Only</label>
					<span class="form-text text-muted sub-help-text" id="help_block">
						Recipe is only available to run manually
					</span>
				</div>

				<div>
					<label class="form-label" for="schedule">Schedule (days: int): &nbsp;</label>
					<input class="input-sm" id="schedule" name="schedule" placeholder="schedule"
						type="number" step="1" min="0" max="90"
						{{ "disabled" if not user.get("full_admin") }}
						value="{{ recipe['schedule'] }}" />
				</div>

				<div>
					<label class="form-label" for="note">Notes</label>
					<textarea class="form-control" id="note" name="note" maxlength="4000"
						placeholder="Recipe notes."></textarea>
					<span class="pull-left form-text text-muted counter" id="counter"></span>
				</div>

				<br />

				<div>
					<button type="submit" class="btn btn-main">Save</button>
				</div>

			</div>

			<script>
				function count_characters() {

					this.addEventListener("input", count_characters)

					var max_length = $(this).attr("maxlength");
					var current_length = $(this).val().length;
					var characters_remaining = max_length - current_length;
					var counter = $(this).next(".form-text");

					counter.text(current_length + "/" + max_length);

					// Change text color to red when there are 0 characters remaining
					if (characters_remaining === 0) {
						counter.removeClass("text-muted");
						counter.addClass("text-danger");
					}
					else {
						counter.removeClass("text-danger");
						counter.addClass("text-muted");
					}

				}

				$(document).ready(function () {
					$(".form-control").each(count_characters);
				});


				getElements = function (id) {
					if (typeof id == "object") {
						return [id];
					} else {
						return document.querySelectorAll(id);
					}
				};


				styleElement = function (element, prop, val) {
					element.style.setProperty(prop, val);
				};

				toggleShow = function (sel) {
					var i, x = getElements(sel), l = x.length;
					for (i = 0; i < l; i++) {
						if (x[i].style.display == "none") {
						styleElement(x[i], "display", "block");
						} else {
						styleElement(x[i], "display", "none");
						}
					}
				};
			</script>

		</form>

		<div class="accordion" id="accordion_toggle">
			<div class="card">

				<div class="card-header" id="Results_Card">
					<h2 class="mb-0">
					<button type="button" class="btn btn-link btn-block text-left"
						aria-controls="results_card_one" aria-expanded="true"
						data-target="#results_card_one" data-toggle="collapse">
						Result History
					</button>
					</h2>
				</div>

				<div class="collapse" id="results_card_one" aria-labelledby="Results"
					data-parent="#accordion_toggle">
					<div class="card-body">

						<table class="dataTable pkgbot-table" id="Results">

							<thead>
								<tr>
									{% for header in results_table_headers %}
									<th {{ "class=primary-column" if header == "Last Update" }}>
										{{ header }}
									</th>
									{% endfor %}
								</tr>
							</thead>

							<tbody>
								{% for result in results %}
								<tr>
									<td>{{ result["type"] }}</td>
									<td>{{ result["status"] }}</td>
									<td>{{ result["last_update"] | strftime }}</td>
									<td>{{ result["updated_by"] }}</td>
									<td>{{ result["task_id"] }}</td>
									{% if "https://" in result["details"] %}
									<td>
										<a href="{{ result['details'] }}">Slack Notification</a>
									</td>
									{% else %}
									<td>{{ result["details"] }}</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>

						</table>

						<script type="text/javascript">
							$(document).ready(
								function() {
									$('#Results').DataTable(
										{"order": [[ $('.primary-column').index(), "desc" ]]}
									);
								}
							);
						</script>

					</div>
				</div>

			</div>

			<div class="card">

				<div class="card-header" id="Notes_Card">
					<h2 class="mb-0">
					<button type="button" class="btn btn-link btn-block text-left"
						aria-expanded="true" aria-controls="notes_card_one"
						data-target="#notes_card_one" data-toggle="collapse">
						Note History
					</button>
					</h2>
				</div>

				<div id="notes_card_one" class="collapse" aria-labelledby="Notes"
					data-parent="#accordion_toggle">
					<div class="card-body">

						<table class="dataTable pkgbot-table" id="Notes">

							<thead>
								<tr>
									{% for header in notes_table_headers %}
									<th {{ "class=primary-column" if header == "Time Stamp" }}>
										{{ header }}
									</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for note in notes %}
								<tr>
									<td>{{ note["note"] }}</td>
									<td>{{ note["submitted_by"] }}</td>
									<td>{{ note["time_stamp"] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<script type="text/javascript">
							$(document).ready(
								function() {
									$('#Notes').DataTable(
										{"order": [[ $('.primary-column').index(), "desc" ]]}
									);
								}
							);
						</script>

					</div>
				</div>

			</div>

		</div>

{% include "table_js.html" %}
{% endblock content %}