{% extends 'base.html' %}
{% block title %}List of Recipes{% endblock %}
{% block content %}
{% include "table_css.html" %}

		<table class="dataTable pkgbot-table" id="recipes">

			<thead>
				<tr>
					{% for header in table_headers %}
					<th {{ "class=primary-column" if header == "ID" }}>
						{{ header }}
					</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for recipe in recipes %}
				<tr>
					<td>
						<a href="{{ url_for(name='recipe', id=recipe.id) }}">
							<span class="pkgbot-table-id">{{ recipe.id }}</span>
						</a>
					</td>
					<td>{{ recipe.recipe_id }}</td>
					<td>{{ recipe.enabled }}</td>
					<td>{{ recipe.manual_only }}</td>
					<td>{{ recipe.pkg_only }}</td>
					<td class="pkgbot-table-td-nowrap">{{ recipe.last_ran | strftime }}</td>
					<td>{{ recipe.schedule }}</td>
					<td>{{ recipe.notes[0].note if recipe.notes[0] }}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>

		<script type="text/javascript">
			$(document).ready(
				function() {
					$('#recipes').DataTable(
						{"order": [[ $('.primary-column').index(), "desc" ]]}
					);
				}
			);
		</script>

{% include "table_js.html" %}
{% endblock content %}