{% extends 'base.html' %}
{% block title %}Package History{% endblock %}
{% block content %}
        <style>
            table {
                border-collapse: collapse;
                /* border: 1px solid black; */
                table-layout: auto;
                width: 100%;
                /* padding: 8px; */
                white-space: nowrap;
                text-align: left;
            }
            td {
                /* border: 1px solid black; */
                padding: 5px;
            }
            td:nth-child(2) {
                text-align: center;
            }
            td:first-child {
                border: 0px;
            }
            tr:nth-child(even) td:not(:first-child) {
                background-color: #f2f2f2;
            }
            tr:hover td:not(:first-child) {
                background-color: #FFC627;
            }
            th:nth-child(n+1) {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #8C1D40;
                color: white;
            }
        </style>


        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>




        <table id="packages" class="packages">
            <thead>
                <tr>
                    {% for header in table_headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set sort_on = request.sort_on | default("id") %}
                {% for app in packages | sort(attribute=sort_on) %}
                <tr>
                    {% if app["icon"] %}
                    <td><img src="{{ url_for('static', path='/icons/%s' % app.icon) }}" width="30" height="30"/></td>
                    {% elif app["jps_url"] and app["icon_id"] %}
                    <td><img src="{{ app.jps_url }}/iconservlet/?id={{ app.icon_id }}" width="30" height="30"/></td>
                    {% else %}
                    <td><img src="{{ url_for('static', path='/icons/%s.png' % [package, metapackage]|random) }}" width="30" height="30"/></td>
                    {% endif %}
                    <td><a href="{{ url_for(name='package', id=app.id) }}"><span class="badge badge-warning">{{ app.id }}</span></a></td>
                    <!-- <td>{{ app.id }}</td> -->
                    <td>{{ app.name }}</td>
                    <td>{{ app.version }}</td>
                    <td>{{ app.status }}</td>
                    <td>{{ app.status_updated_by }}</td>
                    <td>{{ app.packaged_date | strftime }}</td>
                    <td>{{ app.promoted_date | strftime }}</td>
                    <!-- <td>{{ app.approved }}</td> -->
                    <td>{{ app.do_not_delete }}</td>
                    <!-- <td>{{ app.path }}</td> -->
                    <td>{{ app.special_flags }}</td>
                    <td>{{ app.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            $(document).ready(
                function() { 
                $('#packages').DataTable(); 
                } 
            );
        </script>
{% endblock %}