<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.mlbz521.pkgbot.celery</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/autopkg/python</string>
		<string>-m</string>
		<string>celery</string>
		<string>-A</string>
		<string>-tasks.task.celery</string>
		<string>worker</string>
		<string>--loglevel=info</string>
		<string>-Q</string>
		<string>autopkg</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Library/AutoPkg/PkgBot</string>
	<key>StandardErrorPath</key>
	<string>/Library/AutoPkg/PkgBot/log/PkgBotServer-Celery.log</string>
	<key>StandardOutPath</key>
	<string>/Library/AutoPkg/PkgBot/log/PkgBotServer-Celery.log</string>
</dict>
</plist>
